#footer {
  height: 80px;
  background-color: black;
  display: block;
  .content {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
    position: relative;
    height: 100%;
    line-height: 80px;
    img {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
